<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- append is false for test purposes so the logfiles are automatically overwritten. Don't use this on production. -->
        <RollingFile name="fileLogger" append="false" fileName="target/error.log" filePattern="target/error-%d{yyyy-MM-dd}.%i.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <!-- Rolling once a day -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <!-- Rolling based on size -->
                <SizeBasedTriggeringPolicy size="50" />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="micha.logging" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>

    <Loggers>
        <Logger name="dao" additivity="true">
            <appender-ref ref="fileLogger" level="debug"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>